extends layout
body
    block content
      div.header
        h1.text-center Edit Contact
      form.form-horizontal(role="form", action="/editcontact", method="post")
        div.col-sm-6
          label.control-label(for="firstname") First Name
          input.form-control(type="text" name="firstname" id="firstName" value="#{contact.name.first}")

        div.col-sm-6
          label.control-label(for="lastname") Last Name
          input.form-control(type="text" name="lastname" id="lastName" value="#{contact.name.last}")
        
        div.col-sm-6
          label.control-label(for="email") Email
          input.form-control(type="text" name="email" id="email" value="#{contact.email}")

        div.col-sm-6
          label.control-label(for="phone") Phone
          input.form-control(type="text" name="phone" id="phone" value="#{contact.phone}")
        
        div.col-sm-6
          label.control-label(for="date") Date
          input.form-control(type="text" name="DATE" id="DATE" value="#{contact.DATE}")

      	div.col-sm-6
          label.control-label(for="date") Location
          input.form-control(type="text" name="whereMet" id="whereMet" value="#{contact.whereMet}")
        
        div.col-sm-6
          label.control-label(for="whereMet") WhereMet
          select.form-control(type="text" name="wheremet" id="whereMet")
            option(value="#{contact.whereMet}")= contact.whereMet
            option(value="Meetup") Meetup
            option(value="Job Fair") Job Fair
            option(value="conf") Conference/Seminar
            option(value="Other") Other
        
        div.col-sm-12
          label.control-label(for="comments") Comments
          input.form-control(type="text" name="comments" id="comments" value="#{contact.comments}")
        
        div.row
          div.col-sm-4
            button.btn.btn-primary.btn-lg(type="submit" name="button" value="no") No
          div.col-sm-4.col-sm-offset-4
            button.btn.btn-primary.btn-lg(type="submit" name="button" value="yes") Yes
//block content
      div.header
        h1.text-center Edit Contact
      form.form-horizontal(role="form", action="/editcontact/#{contact._id}", method="post")
        div.col-sm-6
          label.control-label(for="firstname") First Name
          input.form-control(type="text" name="firstname" id="firstName" value="#{contact.name.first}")

        div.col-sm-6
          label.control-label(for="lastname") Last Name
          input.form-control(type="text" name="lastname" id="lastName" value="#{contact.name.last}")
        
        div.col-sm-6
          label.control-label(for="email") Email
          input.form-control(type="text" name="email" id="email" value="#{contact.email}")

        div.col-sm-6
          label.control-label(for="number") Phone
          input.form-control(type="text" name="number" id="number" value="#{contact.number}")
        
        div.col-sm-6
          label.control-label(for="date") Date
          input.form-control(type="text" name="date" id="date" value="#{contact.date}")
        
        div.col-sm-6
          label.control-label(for="wheremet") WhereMet
          select.form-control(type="text" name="wheremet" id="whereMet")
            option(value="#{contact.wheremet}")= contact.wheremet
            option(value="meetUp") Meetup
            option(value="jobfair") Job Fair
            option(value="conf") Conference/Seminar
            option(value="Other") Other
        
        div.col-sm-12
          label.control-label(for="notes") Notes
          input.form-control(type="text" name="notes" id="notes" value="#{contact.notes}")
        
        div.row
          div.col-sm-4
            button.btn.btn-primary.btn-lg(type="submit" name="button" value="no") No
          div.col-sm-4.col-sm-offset-4
            button.btn.btn-primary.btn-lg(type="submit" name="button" value="yes") Yes